@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Source+Code+Pro&display=swap');
body {
  text-align:center;
  position:relative;
  top:30px;
  left:400px;
  padding: 30px;
  margin-bottom:30px;
  width:515px;
  height:290px;
  border: 2px solid blue;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
#fontstyle {
  font-family: 'Source Code Pro', monospace;
}
#fonts {
  font-size:13px;
  font-weight: 700;
  font-style: italic;
}
.font {
  font-family: 'Do Hyeon', sans-serif;
}
#align {
  top:13px;
}
#align2 {
  top:5px;
}

